* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('image.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 20px; 
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 50px; 
    padding: 50px 0;
    flex-wrap: wrap; 
    max-width: 1200px;
    width: 100%; 
}

.container {
    width: 400px; 
    
    background: #fff7fb;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 8px 25px rgba(255, 176, 212, 0.4);
    border: 5px solid #ffd6ea;
    
    margin: 0; 
}

.header {
    background: #ffb7df;
    background-image: url('image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ffd6ea;
    background: #fff1fa;
}

.input-area button {
    background: #ff9ac6;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.input-area button:hover {
    background: #ff7bb7;
}

.notes-content-area 
{
    display: flex;
    flex-direction: column;
    gap: 15px; 

}
.note-textarea {
    width: 100%; 
    height: 250px; 
    
    box-sizing: border-box;
    resize: none; 

    padding: 15px;
    
    border: 2px solid #ffd6ea; 
    border-radius: 15px;
    background-color: #fff1fa; 
    
    color: #333;
    font-size: 16px;
    outline: none;
}

.notes-save-btn {
 
    background: #ff9ac6; 
    color: white; 
    margin-top: 0; 
    color: black;
}

.notes-save-btn:hover {
    background: #ff7bb7;
    color: white;
    color: black;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    margin-bottom: 12px;
    background: #ffeaf4;
    border: 2px solid #ffd6ea;
    border-radius: 12px;
    transition: 0.2s;
}

.task.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.delete-btn {
    width: 100%;
    padding: 12px;
    background: #ffd6ea;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px; 
}

.delete-btn:hover {
    background: #ffb4d6;
    color: black;
}